body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url(/public/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #00111bcb;
    background-blend-mode: darken;
    color: white;
    min-height: 100vh;
    width: 100vw;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.home-heading {
    padding: 1rem 0;
}

.home-button-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.prev-hikes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hikes-list {
    width: 100%;
    max-width: 800px;
    padding: 1rem 0;
    list-style: none;
}

.hike-card {
    margin: 0.5rem 2rem;
}

/* Add a dividing border between each hike item in list */
.hike-card:not(:last-child) {
    border-bottom: 1px solid white;
}

.hike-card p {
    margin: 0.5rem;
}

.view-hike-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.view-hike-map-container {
    width: 100%;
    max-width: 1200px;
    min-height: 200px;
    flex-grow: 1;
}

.view-hike-summary {
    width: 100%;
    height: fit-content;
    padding-top: 2rem;
}

.view-hike-button-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.button-delete {
    background-color: #bd2c27;
    color: white;
}

.confirm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.confirm-box {
    background-color: #d7d7d7;
    color: black;
    padding: 1.5rem;
    border-radius: 12px;
    max-width: 80%;
    width: 300px;
    text-align: center;
}

.confirm-delete-button {
    height: 3rem;
    width: 16rem;
    border-radius: 9999rem;
    font-size: medium;
    border: none;
    box-shadow: none;
    margin: 0.5rem 0;
}

.photo {
    width: 250px;
}

.App {
    text-align: center;
    display: flex;
    justify-content: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
